<main role="main" class="container">
  <div class="starter-template">    

	<h1>Your year in books</h1>
	<p class="lead">Mashing up the Goodreads API and the Google Books API to provide information about your year's reading habits. For an example, see <a href="/gather_kirans_books">kiran's books.</a></p>

	<form method="get" action="/gather_books">
		<input type="text" name="user"  /> 
		<input type="submit" value="Submit" />
	</form>


	</div>
</main>